.dashboard_nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vh;
    .dashboard_nav__right{

    }
    .dashboard_nav__left {
        
    }

}