.container {
  padding-inline: 20px;
  display: flex;
  align-items: start;
  gap: 60px;
  max-width: 200vh;
  width: 100%;
  

  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100vh; /* یا 100vw */
  }
}
